# Configurações do Supabase
VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anonima-aqui

# Configurações SMTP HostGator para Envio de E-mail de Aprovação
VITE_SMTP_HOST=mail.sagradafamiliabjj.com.br
VITE_SMTP_PORT=465
VITE_SMTP_USER=nao-responder@sagradafamiliabjj.com.br
VITE_SMTP_PASS=sua_senha_smtp_aqui
VITE_PLATFORM_URL=https://sagradafamiliabjj.com.br
